<div class="container">
  <h2>{{movie?.title}}</h2>

  <div class="col-sm-2">
    <img src="{{movie?.coverUrl}}" alt="no poto :/">
  </div>
  <div class="col-sm-10">
    <ul>
      <li><b>Director </b>{{movie?.director}}</li>
      <li><b>Writers </b>{{movie?.writers}}</li>
      <li><b>Cast </b>{{movie?.cast}}</li>
      <li><b>Duration </b>{{movie?.duration}}</li>
      <li>{{movie?.storyLine}}</li>
    </ul>
    <button type="button" class="btn"><a routerLink="">Back</a></button>
   </div>
</div>